<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medea's Todo</title>
  </head>
  <body>
    <h1>Medea's Todo List</h1>
    <ul>
      {% for task in todos %}
      <li>{{ task['task'] }}</li>
      {% endfor %}
    </ul>
        <form action="{{ url_for('add') }}" method="post">
            <input type="text" name="todo">
            <button type="submit">Add Todo</button>
        </form>
  </body>
</html>
